.main{
    width: 55%;
}

img{
    width: 100%;
    height: 200px;
}

.container{
    display: flex;
}

.content{
    display: flex;
    gap: 20px;
}

.img{
    width: 20px;
    height: 20px;
}

.footer{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 10px;
}

p{
    text-align: center;
    font-weight: 600px;
    font-size: 25px;
}

.card{
    position: relative;
}

.container-content{
    position: absolute;
    bottom: 10px;
    color: white;
}

h2{
    padding-left: 20px;
}